---
import { Image } from "astro:assets";
import Logo from "../../assets/Data n'structor.png";
---
<nav>
  <div class="logo">
    <a href="/" target="_self">
      <Image src={Logo} alt="Logo" height="200" loading="eager">
    </a>
  </div>
  <div class="links">
    <a href="/" target="_self">
      <h4>Home</h4>
    </a>
    <a href="/leaderboard" target="_self">
      <h4>Leaderboard</h4>
    </a>
    <a href="/docs" target="_self">
      <h4>Documentation</h4>
    </a>
    <!-- Adding sign-in stuff just incase it gets used in the future -->
    <!-- <a href="/signin" target="_self"> -->
    <!--   <h4>Sign In</h4> -->
    <!-- </a> -->
    <!-- <a href="/register" target="_self"> -->
    <!--   <h4>Register</h4> -->
    <!-- </a> -->
  </div>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    background-color: var(--background);
  }

  .logo img{
    height: 6rem;
    width: 6rem;
  }

  .links {
    margin: auto 0;
    display: flex;
    flex-direction: row;
  }

  .links > a {
    color: var(--accent);
    text-decoration: none;
  }

  .disabled-link {
    color: var(--accent-700) !important;
    pointer-events: none;
  }

  .links h4 {
    padding-left: 1.5rem;
    font-size: 1.333rem; /* 21.28px */
  }

  /* Media queries */
  /* @media screen and (min-width: 576px){ */
  /* } */
  /* @media screen and (min-width: 780px){ */
  /* } */
  /* @media screen and (min-width: 1200px){ */
  /* } */
</style>
